<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon" />
        <link rel="bookmark" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon" />
        <meta charset="utf-8" />
        <meta name="description" content="binball" />
        <title>binball</title>
        <noscript>You need to enable JavaScript to run binball.</noscript>
    </head>
</html>
